<h1>Bienvenue sur Matcha</h1>
<% if !session[:auth].nil? %>
    <p>vous êtes connecté en tant que: <%= session[:auth]["username"] %></p>
    <div class="row">
      <% @result.each do |row| %>
          <a href="/users/profile/<%= row["id"] %>" style="color: #292b2c; text-decoration: none">
            <div class="card" style="width: 20rem; margin: 10px 30px;">
              <div class="img-cadre" style="width: 100%; background-color: black">
                <img class="rounded mx-auto d-block" src="<%= row["profile"] %>" alt="" width="200" height="200">
              </div>
              <div class="card-block">
                <h4 class="card-title"><%= row["username"] %></h4>
                <p class="card-text"><%= row["bio"] %></p>
                <p><%= row["interest"] %></p>
                <% if isLiked?(row["id"]) %>
                <form action="/likes/dislike/<%= row["id"] %>" method="POST">
                    <button type="submit" class="btn btn-danger">Dislike <i class="fa fa-thumbs-down" aria-hidden="true"></i></button>
                </form>
                <% else %>
                    <form action="/likes/like/<%= row["id"] %>" method="POST">
                      <button type="submit" class="btn btn-success">Like <i class="fa fa-thumbs-o-up" aria-hidden="true"></i></button>
                    </form>
                <% end %>
              </div>
            </div>
          </a>
      <% end %>
    </div>
<% end %>

<div id="blk" class="alert alert-success alert-dismissible fade show pull-right" role="alert" style="height: 50px; bottom: 0">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <span id="notmsg"></span>
</div>
<script type="text/javascript" charset="utf-8">
    var objDiv = document.getElementById("blk");
    var blkmsg = document.getElementById("notmsg");
    var user_id = <%= session[:auth]["id"] %>;
    objDiv.style.display = 'none';
    window.onload = function(){
        (function(){
            var show = function(el)
            {
                console.log(blkmsg);
                return function(msg)
                {
                    tab = msg.split(',');
                    id = tab[1];
                    message = tab[0];
                    user_for = tab[2]
                    if (user_id == user_for)
                    {
                        var nav = document.getElementById("tes");
                        if (tes.innerHTML === "")
                            tes.innerHTML = '1';
                        else
                        {
                            res = parseInt(tes.innerHTML) + 1;
                            tes.innerHTML = '' + res;
                        }
                        objDiv.style.display = 'block';
                        blkmsg.innerHTML = 'Vous avez un nouveau message';
                    }
                }
            }(document.getElementById('list'));
            var ws = new WebSocket('ws://' + window.location.host + '/messages/1');
            ws.onmessage = function(m) { show(m.data); };
        })();
    }
</script>