<!doctype html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <title>Matcha</title>
  <link rel="stylesheet" href="/maps/documentation/javascript/demos/demos.css">
</head>
<body>
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">
    <img src="/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Matcha
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Accueil <span class="sr-only">(current)</span></a>
      </li>
      <% if session[:auth] %>
          <li class="nav-item">
              <a class="nav-link" href="/messages"><span style="color:red" id="tes"><%= "#{countNbMsg}" if countNbMsg > 0 %></span> Messages <i class="fa fa-comments" aria-hidden="true"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/notifications">
              Notifications
              <% if !@nb.nil? %>
                  <% if @nb[0]["nb"] != 0 %>
                      <span style="color:red"><%= "(#{@nb[0]["nb"]})" %></span><i class="fa fa-bell-o" aria-hidden="true" style="color: red"></i>
                  <% else %>
                      <i class="fa fa-bell-o" aria-hidden="true"></i>
                  <% end %>
              <% else %>
                  <i class="fa fa-bell-o" aria-hidden="true"></i>
              <% end %>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/search">Recherche <i class="fa fa-search" aria-hidden="true"></i></a>
          </li>
      <% end %>
    </ul>
    <ul class="navbar-nav pull-right">
      <% if session[:auth].nil? %>
        <li class="nav-item">
          <a class="nav-link" href="/users/sign_in">Connexion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/sign_up">Inscription</a>
        </li>
      <% else %>
          <li class="nav-item">
            <a class="nav-link" href="/blocked">Bloqué</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/sign_out">Deconnexion</a>
          </li>
      <% end %>
    </ul>
  </div>
</nav>
<div class="container" style="margin-bottom: 70px;">
  <% if defined? flash %>
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %> alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= value %>
        </div>
    <% end %>
  <% end %>
  <%= yield %>
</div>
<nav class="navbar fixed-bottom navbar-light bg-faded">
  <span class="navbar-brand text-center">© Copyright MADAD Hamza</span>
</nav>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script src="https://use.fontawesome.com/77127c120b.js"></script>
<script type="text/javascript">
    var IDLE_TIMEOUT = 1200; //seconds
    var _idleSecondsCounter = 0;
    document.onclick = function() {
        _idleSecondsCounter = 0;
    };
    document.onmousemove = function() {
        _idleSecondsCounter = 0;
    };
    document.onkeypress = function() {
        _idleSecondsCounter = 0;
    };
    window.setInterval(CheckIdleTime, 1000);
    function CheckIdleTime() {
        _idleSecondsCounter++;
        var oPanel = document.getElementById("SecondsUntilExpire");
        if (oPanel)
            oPanel.innerHTML = (IDLE_TIMEOUT - _idleSecondsCounter) + "";
        if (_idleSecondsCounter >= IDLE_TIMEOUT) {
            document.location.href = "/users/sign_out";
        }
    }
</script>
</body>
</html>
