<h1>Recherche</h1>
<hr>
<div class="row" style="margin-bottom: 10px">
  <div class="col-md-12">
    <form action="/search" class="form-inline" method="POST">
      <div class="col-md-12" style="margin-bottom: 20px;">
        <div class="form-group">
          <input type="text" class="form-control" name="search" placeholder="Tag Exemple: Cuty" style="width: 100%">
        </div>
      </div>
      <div class="col-md-12"  style="margin-bottom: 20px;">
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-6">
                <input type="number" class="form-control" name="min" min="18" max="120" placeholder="Age Min: (Min. 18)" style="width: 100%">
              </div>
              <div class="col-md-6">
                <input type="number" class="form-control" name="max" min="18" max="120" placeholder="Age Max: (Max. 120)" style="width: 100%">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <input type="number" class="form-control" name="km" min="0" placeholder="Distance Max en KM" style="width: 100%">
          </div>
        </div>
      </div>
      <div class="col-md-12"  style="margin-bottom: 20px;">
        <div class="row">
          <div class="col-md-12">
            <select class="form-control" name="order" style="width: 100%">
              <option value="">Tri</option>
              <option value="score">Score de popularité</option>
              <option value="tags">Tags en communs</option>
              <option value="location">Le plus proche</option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-group col-md-2">
        <button type="submit" class="btn btn-primary" style="width: 100%">Envoyer</button>
      </div>
    </form>
  </div>
</div>
<hr>
<% if @result %>
  <div class="row">
      <% @result.each do |row| %>
        <%
          if row["location"] && row["location"].to_i != 0 && !isLiked?(row["id"])
            other_coords = loc(row["location"].to_i)
            distance = distance(@coord[0].to_f, @coord[1].to_f, other_coords[0].to_f, other_coords[1].to_f)
            if ((params[:km].to_s == "illimite" || @km) || distance < params[:km].to_f ) && !isBlocked?(row['id'])
              if distance.round(1) == 0.0
                distance = "Meme ville"
              else
                distance = distance.round(1).to_s + " KM"
              end
        %>
                <div class="card" style="width: 20rem; margin: 10px 30px;">
                  <div style="width: 100%; height: 30px; padding: 5px; background-color: black">
                    <p class="pull-left" style="color: white">
                      <% if isOnline?(row["id"]) %>
                          <i class="fa fa-circle pull-left" aria-hidden="true" style="color: green; margin-top: 2px"></i>
                      <% else %>
                          <i class="fa fa-circle pull-left" aria-hidden="true" style="color: grey;"></i>
                      <% end %>
                      <b><%= distance %></b>
                    </p>
                    <a data-toggle="modal" href="#myModal<%= row["id"] %>">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <i class="fa fa-ban" aria-hidden="true" style="color: red"></i>
                      </button>
                    </a>
                  </div>
                  <a href="/users/profile/<%= row["id"] %>" style="color: #292b2c; text-decoration: none">
                    <div class="img-cadre" style="width: 100%; background-color: black">
                      <img class="mx-auto d-block" src="<%= row["profile"] %>" alt="" width="200" height="200" style="border-top-left-radius: 5px; border-top-right-radius: 5px;">
                    </div>
                  </a>
                  <div class="card-block">
                    <h4 class="card-title"><%= row["score"] %><i class="fa fa-star" aria-hidden="true" style="color: deepskyblue;"></i> <%= row["username"] %></h4>
                    <p class="card-text"><%= row["age"] %> ans</p>
                    <p class="card-text"><%= row["bio"] %></p>
                    <%
                      if (session[:auth]["interest"] && !session[:auth]["interest"].empty?)
                        all_user = session[:auth]["interest"].split(", ")
                      else
                        all_user = []
                      end
                      if (row["interest"] && !row["interest"].empty?)
                        all_other = row["interest"].split(", ") if row["interest"]
                      else
                        all_other = []
                      end
                      comun = all_user & all_other
                      reste = all_other - all_user
                    %>
                    <p><b style="color: green"><%= comun.join(', ') %> </b><%= reste.join(', ') %></p>
                    <% if !isOnline?(row["id"]) %>
                        <p>Dernière connection: <%= row["last_connection"].to_s[0, 16] %></p>
                    <% end %>
                    <% if isLiked?(row["id"]) %>
                        <form action="/likes/dislike/<%= row["id"] %>" method="POST">
                          <button type="submit" class="btn btn-danger" onclick="sendnot(<%= session[:auth]["id"] %>, <%= row["id"] %>)">Dislike <i class="fa fa-thumbs-down" aria-hidden="true"></i></button>
                        </form>
                    <% else %>
                        <form action="/likes/like/<%= row["id"] %>" method="POST">
                          <button type="submit" class="btn btn-success" onclick="sendnot(<%= session[:auth]["id"] %>, <%= row["id"] %>)">Like <i class="fa fa-thumbs-o-up" aria-hidden="true"></i></button>
                        </form>
                    <% end %>
                  </div>
                </div>
                <div class="modal fade" id="myModal<%= row["id"] %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Bloquer <i class="fa fa-ban" aria-hidden="true"></i></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        Etes vous sur de vouloir bloquer <span style="color: green;"><b><%= row["username"] %></b></span>?
                      </div>
                      <div class="modal-footer">
                        <form action="/reported/<%= row["id"] %>" method="POST">
                          <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Reporter et bloquer</button>
                        </form>
                        <form action="/blocked/<%= row["id"] %>" method="POST">
                          <button type="submit" class="btn btn-primary">Bloquer</button>
                        </form>
                        <button type="button" class="btn btn-warning" data-dismiss="modal">Annuler</button>
                      </div>
                    </div>
                  </div>
                </div>
      <%
            end
          end
        end
      %>
  </div>
<% end %>
<div id="blk" class="alert alert-success alert-dismissible fade show pull-right" role="alert" style="height: 50px; bottom: 0">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <span id="notmsg"></span>
</div>
<div id="blknot" class="alert alert-warning alert-dismissible fade show pull-right" role="alert" style="height: 50px; bottom: 0">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <span id="notnot"></span>
</div>
<script type="text/javascript" charset="utf-8">
    var objDiv = document.getElementById("blk");
    var blkmsg = document.getElementById("notmsg");
    var objDiv2 = document.getElementById("blknot");
    var blkmsg2 = document.getElementById("notnot");
    var user_id = <%= session[:auth]["id"] %>;
    objDiv.style.display = 'none';
    objDiv2.style.display = 'none';
    window.onload = function(){
        (function(){
            var show = function(el)
            {
                return function(msg)
                {
                    tab = msg.split(',');
                    status = tab[0]
                    id = tab[2];
                    message = tab[1];
                    user_for = tab[3]
                    if (status == "msg")
                    {
                        if (message.trim().length !== 0)
                        {
                            if (user_id == user_for)
                            {
                                var nav = document.getElementById("tes");
                                if (nav.innerHTML === "")
                                    nav.innerHTML = '1';
                                else
                                {
                                    res = parseInt(nav.innerHTML) + 1;
                                    nav.innerHTML = '' + res;
                                }
                                objDiv.style.display = 'block';
                                blkmsg.innerHTML = 'Vous avez un nouveau message';
                            }
                        }
                    }
                    else if (status == "not")
                    {
                        if (user_id == user_for)
                        {
                            var nav2 = document.getElementById("tesnot");
                            if (nav2.innerHTML === "")
                                nav2.innerHTML = '1';
                            else
                            {
                                res = parseInt(nav2.innerHTML) + 1;
                                nav2.innerHTML = '' + res;
                            }
                            objDiv2.style.display = 'block';
                            blkmsg2.innerHTML = 'Vous avez une nouvelle notification';
                        }
                    }
                }
            }(document.getElementById('list'));
            var ws = new WebSocket('ws://' + window.location.host + window.location.pathname);
            ws.onmessage = function(m) { show(m.data); };
        })();
    }
</script>
<script type="text/javascript" charset="utf-8">
    var ws = new WebSocket('ws://' + window.location.host + window.location.pathname);
    function sendnot(id, id_for) {
        ws.send('not,' + ',' + id + ',' + id_for);
    }
</script>