<h1>Messages</h1>
<hr>
<div class="row">
  <% if @all.empty? || @ok == 0 %>
      <h2>Aucune conversation</h2>
  <% else %>
    <% @all.each do |row| %>
        <%
          if row["user_id1"] != session[:auth]["id"]
            @result = findUser(row["user_id1"])
          else
            @result = findUser(row["user_id2"])
          end
          @result = @result[0]
        %>
          <%
            if @result["location"] && @result["location"].to_i != 0 && !isBlocked?(@result["id"])
              other_coords = loc(@result["location"].to_i)
              distance = distance(@coord[0].to_f, @coord[1].to_f, other_coords[0].to_f, other_coords[1].to_f)
              if distance.round(1) == 0.0
                distance = "Meme ville"
              else
                distance = distance.round(1).to_s + " KM"
              end
          %>
                    <div class="card" style="width: 20rem; margin: 10px 30px;">
                      <div style="width: 100%; height: 30px; padding: 5px; background-color: black">
                        <% if isOnline?(@result["id"]) %>
                            <i class="fa fa-circle pull-left" aria-hidden="true" style="color: green; margin-top: 2px"></i>
                        <% else %>
                            <i class="fa fa-circle pull-left" aria-hidden="true" style="color: grey;"></i>
                        <% end %>
                        <p class="pull-left" style="color: white"><b><%= distance %></b></p>
                        <a data-toggle="modal" href="#myModal<%= @result["id"] %>">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="sendblk(<%= session[:auth]["id"] %>, <%= @result["id"] %>)">
                            <i class="fa fa-ban" aria-hidden="true" style="color: red"></i>
                          </button>
                        </a>
                      </div>
                      <a href="/users/profile/<%= @result["id"] %>" onclick="sendnot(<%= session[:auth]["id"] %>, <%= row["id"] %>)" style="color: #292b2c; text-decoration: none">
                      <div class="img-cadre" style="width: 100%; background-color: black">
                        <img class="mx-auto d-block" src="<%= @result["profile"] %>" alt="" width="200" height="200" style="border-top-left-radius: 5px; border-top-right-radius: 5px;">
                      </div>
                      </a>
                      <div class="card-block">
                        <h4 class="card-title"><%= @result["username"] %></h4>
                        <p class="card-text"><%= @result["bio"] %></p>
                        <%
                          if (session[:auth]["interest"] && !session[:auth]["interest"].empty?)
                            all_user = session[:auth]["interest"].split(", ")
                          else
                            all_user = []
                          end
                          if (row["interest"] && !row["interest"].empty?)
                            all_other = row["interest"].split(", ") if row["interest"]
                          else
                            all_other = []
                          end
                          comun = all_user & all_other
                          reste = all_other - all_user
                        %>
                        <p><b style="color: green"><%= comun.join(', ') %> </b><%= reste.join(', ') %></p>
                        <% if isLiked?(@result["id"]) %>
                            <form action="/likes/dislike/<%= @result["id"] %>" method="POST">
                              <button type="submit" class="btn btn-danger pull-left" onclick="sendnot(<%= session[:auth]["id"] %>, <%= @result["id"] %>)">Dislike <i class="fa fa-thumbs-down" aria-hidden="true"></i></button>
                              <a href="messages/<%= row['id'] %>/check"><button type="button" class="btn btn-primary pull-right"><span id="cnt<%= @result["id"] %>" style="color: red;"><%= countMsg(row['id']) if countMsg(row['id']) > 0 %></span> Discuter <i class="fa fa-comments" aria-hidden="true"></i></button></a>
                            </form>
                        <% end %>
                      </div>
                    </div>
              <div class="modal fade" id="myModal<%= @result["id"] %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Bloquer <i class="fa fa-ban" aria-hidden="true"></i></h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      Etes vous sur de vouloir bloquer <span style="color: green;"><b><%= @result["username"] %></b></span>?
                    </div>
                    <div class="modal-footer">
                      <form action="/blocked/<%= @result["id"] %>" method="POST">
                        <button type="submit" class="btn btn-primary">Oui</button>
                      </form>
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Non</button>
                    </div>
                  </div>
                </div>
              </div>
          <% end %>
    <% end %>
  <% end %>
</div>
<div id="blk" class="alert alert-success alert-dismissible fade show pull-right" role="alert" style="height: 50px; bottom: 55px;">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <span id="notmsg"></span>
</div>
<div id="blknot" class="alert alert-warning alert-dismissible fade show pull-right" role="alert" style="height: 50px; bottom: 55px;">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <span id="notnot"></span>
</div>
<script type="text/javascript" charset="utf-8">
    var objDiv = document.getElementById("blk");
    var blkmsg = document.getElementById("notmsg");
    var objDiv2 = document.getElementById("blknot");
    var blkmsg2 = document.getElementById("notnot");
    var user_id = <%= session[:auth]["id"] %>;
    objDiv.style.display = 'none';
    objDiv2.style.display = 'none';
    window.onload = function(){
        (function(){
            var show = function(el)
            {
                return function(msg)
                {
                    tab = msg.split(',');
                    status = tab[0]
                    id = tab[2];
                    message = tab[1];
                    user_for = tab[3]
                    if (status == "msg")
                    {
                        if (message.trim().length !== 0)
                        {
                            if (user_id == user_for)
                            {
                                var nav = document.getElementById("tes");
                                if (nav.innerHTML === "")
                                    nav.innerHTML = '1';
                                else
                                {
                                    res = parseInt(nav.innerHTML) + 1;
                                    nav.innerHTML = '' + res;
                                }
                                objDiv.style.display = 'block';
                                blkmsg.innerHTML = 'Vous avez un nouveau message';
                                var t = document.getElementById("cnt" + id);
                                if (t.innerHTML === "")
                                    t.innerHTML = '1';
                                else
                                {
                                    res = parseInt(t.innerHTML) + 1;
                                    t.innerHTML = '' + res;
                                }
                            }
                        }
                    }
                    else if (status == "not")
                    {
                        if (user_id == user_for)
                        {
                            var nav2 = document.getElementById("tesnot");
                            if (nav2.innerHTML === "")
                                nav2.innerHTML = '1';
                            else
                            {
                                res = parseInt(nav2.innerHTML) + 1;
                                nav2.innerHTML = '' + res;
                            }
                            objDiv2.style.display = 'block';
                            blkmsg2.innerHTML = 'Vous avez une nouvelle notification';
                        }
                    }
                    else if (status == "blk")
                    {
                        if (user_id == user_for)
                        {
                            setTimeout(function(){ location.reload(); }, 2000);
                        }
                    }
                }
            }(document.getElementById('list'));
            var ws = new WebSocket('ws://' + window.location.host + window.location.pathname);
            ws.onmessage = function(m) { show(m.data); };
        })();
    }
</script>
<script type="text/javascript" charset="utf-8">
    var ws = new WebSocket('ws://' + window.location.host + window.location.pathname);
    function sendnot(id, id_for) {
        ws.send('not,' + ',' + id + ',' + id_for);
    }
</script>
<script type="text/javascript" charset="utf-8">
    var ws = new WebSocket('ws://' + window.location.host + window.location.pathname);
    function sendblk(id, id_for) {
        ws.send('blk,' + ',' + id + ',' + id_for);
    }
</script>