<h1>Messages</h1>
<hr>
<div class="row">
  <% if @all.empty? || @ok == 0 %>
      <h2>Aucune conversation</h2>
  <% else %>
    <% @all.each do |row| %>
        <%
          if row["user_id1"] != session[:auth]["id"]
            @result = findUser(row["user_id1"])
          else
            @result = findUser(row["user_id2"])
          end
          @result = @result[0]
        %>
          <%
            if @result["location"] && @result["location"].to_i != 0 && !isBlocked?(@result["id"])
              other_coords = loc(@result["location"].to_i)
              distance = distance(@coord[0].to_f, @coord[1].to_f, other_coords[0].to_f, other_coords[1].to_f)
              if distance.round(1) == 0.0
                distance = "Meme ville"
              else
                distance = distance.round(1).to_s + " KM"
              end
          %>
                    <div class="card" style="width: 20rem; margin: 10px 30px;">
                      <div style="width: 100%; height: 30px; padding: 5px; background-color: black">
                        <p class="pull-left" style="color: white"><b><%= distance %></b></p>
                        <a data-toggle="modal" href="#myModal<%= @result["id"] %>">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <i class="fa fa-ban" aria-hidden="true" style="color: red"></i>
                          </button>
                        </a>
                      </div>
                      <a href="/users/profile/<%= @result["id"] %>" style="color: #292b2c; text-decoration: none">
                      <div class="img-cadre" style="width: 100%; background-color: black">
                        <img class="mx-auto d-block" src="<%= @result["profile"] %>" alt="" width="200" height="200" style="border-top-left-radius: 5px; border-top-right-radius: 5px;">
                      </div>
                      </a>
                      <div class="card-block">
                        <h4 class="card-title"><%= @result["username"] %></h4>
                        <p class="card-text"><%= @result["bio"] %></p>
                        <%
                          all_user = session[:auth]["interest"].split(", ")
                          all_other = @result["interest"].split(", ")
                          comun = all_user & all_other
                          reste = all_other - all_user
                        %>
                        <p><b style="color: green"><%= comun.join(', ') %> </b><%= reste.join(', ') %></p>
                        <% if isLiked?(@result["id"]) %>
                            <form action="/likes/dislike/<%= @result["id"] %>" method="POST">
                              <button type="submit" class="btn btn-danger pull-left">Dislike <i class="fa fa-thumbs-down" aria-hidden="true"></i></button>
                              <a href="messages/<%= row['id'] %>/check"><button type="button" class="btn btn-primary pull-right"><span id="cnt<%= @result["id"] %>" style="color: red;"><%= countMsg(row['id']) if countMsg(row['id']) > 0 %></span> Discuter <i class="fa fa-comments" aria-hidden="true"></i></button></a>
                            </form>
                        <% else %>
                            <form action="/likes/like/<%= @result["id"] %>" method="POST">
                              <button type="submit" class="btn btn-success pull-left">Like <i class="fa fa-thumbs-o-up" aria-hidden="true"></i></button>
                              <a href="messages/<%= row['id'] %>/check"><button type="button" class="btn btn-primary pull-right"><span id="cnt<%= @result["id"] %>" style="color: red;"><%= countMsg(row['id']) if countMsg(row['id']) > 0 %></span> Discuter <i class="fa fa-comments" aria-hidden="true"></i></button></a>
                            </form>
                        <% end %>
                      </div>
                    </div>
              <div class="modal fade" id="myModal<%= @result["id"] %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Bloquer <i class="fa fa-ban" aria-hidden="true"></i></h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      Etes vous sur de vouloir bloquer <span style="color: green;"><b><%= @result["username"] %></b></span>?
                    </div>
                    <div class="modal-footer">
                      <form action="/blocked/<%= @result["id"] %>" method="POST">
                        <button type="submit" class="btn btn-primary">Oui</button>
                      </form>
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Non</button>
                    </div>
                  </div>
                </div>
              </div>
          <% end %>
    <% end %>
  <% end %>
</div>
<div id="blk" class="alert alert-success alert-dismissible fade show pull-right" role="alert" style="height: 50px; bottom: 55px;">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <span id="notmsg"></span>
</div>
<script type="text/javascript" charset="utf-8">
    var objDiv = document.getElementById("blk");
    var blkmsg = document.getElementById("notmsg");
    var user_id = <%= session[:auth]["id"] %>;
    objDiv.style.display = 'none';
    window.onload = function(){
        (function(){
            var show = function(el)
            {
                console.log(blkmsg);
                return function(msg)
                {
                    tab = msg.split(',');
                    id = tab[1];
                    message = tab[0];
                    user_for = tab[2]
                    if (user_id == user_for)
                    {
                        var t = document.getElementById("cnt" + id);
                        objDiv.style.display = 'block';
                        blkmsg.innerHTML = 'Vous avez un nouveau message';
                        if (t.innerHTML === "")
                            t.innerHTML = '1';
                        else
                        {
                            res = parseInt(t.innerHTML) + 1;
                            t.innerHTML = '' + res;
                        }
                    }
                }
            }(document.getElementById('list'));
            var ws = new WebSocket('ws://' + window.location.host + '/messages/1');
            ws.onmessage = function(m) { show(m.data); };
        })();
    }
</script>