<h1>Messages</h1>
<hr>
<div class="row">
  <% if @all.empty? || @ok == 0 %>
      <h2>Aucune conversation</h2>
  <% else %>
    <% @all.each do |row| %>
        <%
          if row["user_id1"] != session[:auth]["id"]
            @result = findUser(row["user_id1"])
          else
            @result = findUser(row["user_id2"])
          end
          @result = @result[0]
        %>
          <%
            if @result["location"] && @result["location"].to_i != 0
              other_coords = loc(@result["location"].to_i)
              distance = distance(@coord[0].to_f, @coord[1].to_f, other_coords[0].to_f, other_coords[1].to_f)
          %>
                    <div class="card" style="width: 20rem; margin: 10px 30px;">
                      <div style="width: 100%; height: 30px; padding: 5px; background-color: black">
                        <p class="pull-left" style="color: white"><b><%= distance.round 1 %></b> KM</p>
                        <a data-toggle="modal" href="#myModal<%= @result["id"] %>">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <i class="fa fa-ban" aria-hidden="true" style="color: red"></i>
                          </button>
                        </a>
                      </div>
                      <a href="/users/profile/<%= @result["id"] %>" style="color: #292b2c; text-decoration: none">
                      <div class="img-cadre" style="width: 100%; background-color: black">
                        <img class="mx-auto d-block" src="<%= @result["profile"] %>" alt="" width="200" height="200" style="border-top-left-radius: 5px; border-top-right-radius: 5px;">
                      </div>
                      </a>
                      <div class="card-block">
                        <h4 class="card-title"><%= @result["username"] %></h4>
                        <p class="card-text"><%= @result["bio"] %></p>
                        <%
                          all_user = session[:auth]["interest"].split(", ")
                          all_other = @result["interest"].split(", ")
                          comun = all_user & all_other
                          reste = all_other - all_user
                        %>
                        <p><b style="color: green"><%= comun.join(', ') %> </b><%= reste.join(', ') %></p>
                        <% if isLiked?(@result["id"]) %>
                            <form action="/likes/dislike/<%= @result["id"] %>" method="POST">
                              <button type="submit" class="btn btn-danger">Dislike <i class="fa fa-thumbs-down" aria-hidden="true"></i></button>
                            </form>
                        <% else %>
                            <form action="/likes/like/<%= @result["id"] %>" method="POST">
                              <button type="submit" class="btn btn-success">Like <i class="fa fa-thumbs-o-up" aria-hidden="true"></i></button>
                            </form>
                        <% end %>
                      </div>
                    </div>
          <% end %>
    <% end %>
  <% end %>
</div>