<h1>Utilisateurs bloqués</h1>
<hr>
<div class="row">
  <% @result.each do |row| %>
      <% user = findUser(row["user_blocked"]) %>
      <% user = user[0] %>
          <div class="card" style="width: 20rem; margin: 10px 30px;">
            <div style="width: 100%; height: 30px; padding: 5px; background-color: black">
              <form action="/unblock/<%= user["id"] %>" method="POST">
                <button type="submit" class="close">
                  <i class="fa fa-check" aria-hidden="true" style="color: green"></i>
                </button>
              </form>
            </div>
            <div class="img-cadre" style="width: 100%; background-color: black">
              <img class="mx-auto d-block" src="<%= user["profile"] %>" alt="" width="200" height="200" style="border-top-left-radius: 5px; border-top-right-radius: 5px;">
            </div>
            <div class="card-block">
              <a href="/users/profile/<%= user["id"] %>" style="color: #292b2c; text-decoration: none">
                <h4 class="card-title"><b><%= user["username"] %></b> (<%= user["firstname"] + " " + user["lastname"]%>)</h4>
              </a>
            </div>
          </div>
  <% end %>
</div>
<div id="blk" class="alert alert-success alert-dismissible fade show pull-right" role="alert" style="height: 50px; bottom: 0">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <span id="notmsg"></span>
</div>
<div id="blknot" class="alert alert-warning alert-dismissible fade show pull-right" role="alert" style="height: 50px; bottom: 0">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <span id="notnot"></span>
</div>
<script type="text/javascript" charset="utf-8">
    var objDiv = document.getElementById("blk");
    var blkmsg = document.getElementById("notmsg");
    var objDiv2 = document.getElementById("blknot");
    var blkmsg2 = document.getElementById("notnot");
    var user_id = <%= session[:auth]["id"] %>;
    objDiv.style.display = 'none';
    objDiv2.style.display = 'none';
    window.onload = function(){
        (function(){
            var show = function(el)
            {
                return function(msg)
                {
                    tab = msg.split(',');
                    status = tab[0]
                    id = tab[2];
                    message = tab[1];
                    user_for = tab[3]
                    if (status == "msg")
                    {
                        if (message.trim().length !== 0)
                        {
                            if (user_id == user_for)
                            {
                                var nav = document.getElementById("tes");
                                if (nav.innerHTML === "")
                                    nav.innerHTML = '1';
                                else
                                {
                                    res = parseInt(nav.innerHTML) + 1;
                                    nav.innerHTML = '' + res;
                                }
                                objDiv.style.display = 'block';
                                blkmsg.innerHTML = 'Vous avez un nouveau message';
                            }
                        }
                    }
                    else if (status == "not")
                    {
                        if (user_id == user_for)
                        {
                            var nav2 = document.getElementById("tesnot");
                            if (nav2.innerHTML === "")
                                nav2.innerHTML = '1';
                            else
                            {
                                res = parseInt(nav2.innerHTML) + 1;
                                nav2.innerHTML = '' + res;
                            }
                            objDiv2.style.display = 'block';
                            blkmsg2.innerHTML = 'Vous avez une nouvelle notification';
                        }
                    }
                }
            }(document.getElementById('list'));
            var ws = new WebSocket('ws://' + window.location.host + window.location.pathname);
            ws.onmessage = function(m) { show(m.data); };
        })();
    }
</script>
<script type="text/javascript" charset="utf-8">
    var ws = new WebSocket('ws://' + window.location.host + window.location.pathname);
    function sendnot(id, id_for) {
        ws.send('not,' + ',' + id + ',' + id_for);
    }
</script>