<h1>Utilisateurs bloqués</h1>
<hr>
<div class="row">
  <% @result.each do |row| %>
      <% user = findUser(row["user_blocked"]) %>
      <% user = user[0] %>
          <div class="card" style="width: 20rem; margin: 10px 30px;">
            <div style="width: 100%; height: 30px; padding: 5px; background-color: black">
              <form action="/unblock/<%= user["id"] %>" method="POST">
                <button type="submit" class="close">
                  <i class="fa fa-check" aria-hidden="true" style="color: green"></i>
                </button>
              </form>
            </div>
            <div class="img-cadre" style="width: 100%; background-color: black">
              <img class="mx-auto d-block" src="<%= user["profile"] %>" alt="" width="200" height="200" style="border-top-left-radius: 5px; border-top-right-radius: 5px;">
            </div>
            <div class="card-block">
              <a href="/users/profile/<%= user["id"] %>" style="color: #292b2c; text-decoration: none">
                <h4 class="card-title"><b><%= user["username"] %></b> (<%= user["firstname"] + " " + user["lastname"]%>)</h4>
              </a>
            </div>
          </div>
  <% end %>
</div>