<h1>Profile </h1>
<hr>
<form action="" method="POST" enctype="multipart/form-data">
  <div class="row">
    <div class="left col-md-8" style="margin-top: 20px">
      <div class="form-group">
        <label for="exampleInputEmail1">Adresse email<span style="color: red">*</span></label>
        <input type="email" name="email" class="form-control" aria-describedby="emailHelp" value="<%= @result[0]["email"] %>">
      </div>
      <div class="form-group">
        <label for="username">Nom d'utilisateur<span style="color: red">*</span></label>
        <input type="text" name="username" class="form-control" value="<%= @result[0]["username"]%>">
      </div>
    </div>
    <div class="right col-md-4">
      <img class="rounded mx-auto d-block" src="<%= @result[0]["profile"] %>" alt="" width="200" height="200">
      <input type="file" name="profile" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <label for="firstname">Prenom<span style="color: red">*</span></label>
    <input type="text" name="firstname" class="form-control" value="<%= @result[0]["firstname"]%>">
  </div>
  <div class="form-group">
    <label for="lastname">Nom<span style="color: red">*</span></label>
    <input type="text" name="lastname" class="form-control" value="<%= @result[0]["lastname"]%>">
  </div>
  <div class="form-group">
    <label for="age">Age<span style="color: red">*</span></label>
    <input type="number" name="age" class="form-control" placeholder="Age" min="18" max="120" value="<%= @result[0]["age"] if @result[0]["age"]%>">
  </div>
  <div class="form-group">
    <label for="location">Code postal<span style="color: orange">*</span></label>
    <select class="form-control" name="location">
      <option value="0" disabled <%= "selected" if @result[0]["location"].nil? || @result[0]["location"] == 0 %>>Code Postal</option>
      <%
        a = 1
        while a != 96 do
      %>
        <option value="<%= a %>" <%= "selected" if @result[0]["location"] == a %>><%= a %></option>
      <% a += 1 %>
      <% end %>
    </select>
  </div>
  <div class="form-group">
    <label for="lastname">Sexe</label>
    <select class="form-control" name="sexe">
      <option value="" disabled <%= "selected" if @result[0]["sexe"].nil? || @result[0]["sexe"].empty? %>>Sexe</option>
      <option value="Homme" <%= "selected" if @result[0]["sexe"] == "Homme" %>>Homme</option>
      <option value="Femme" <%= "selected" if @result[0]["sexe"] == "Femme" %>>Femme</option>
    </select>
  </div>
  <div class="form-group">
    <label for="orientation">Orientation</label>
    <select class="form-control" name="orientation">
      <option value="" disabled <%= "selected" if @result[0]["orientation"].nil? || @result[0]["orientation"].empty? %>>Orientation</option>
      <option value="Homme" <%= "selected" if @result[0]["orientation"] == "Homme" %>>Homme</option>
      <option value="Femme" <%= "selected" if @result[0]["orientation"] == "Femme" %>>Femme</option>
      <option value="Both" <%= "selected" if @result[0]["orientation"] == "Both" %>>Les deux</option>
    </select>
  </div>
  <div class="form-group">
    <label for="bio">Biographie</label>
    <textarea name="bio" class="form-control" placeholder="Biographie"><%= @result[0]["bio"]%></textarea>
  </div>
  <div class="form-group">
    <label for="interest">Interêts (#tags)</label>
    <textarea name="interest" class="form-control" placeholder="Interêts: (Ex: #interet, #exemple, ...)" rows="2"><%= @result[0]["interest"]%></textarea>
  </div>
  <% if @result[0]["location"].nil? || @result[0]["location"] == 0 %>
  <div id="map" style="width:100%;height:400px;"></div>
  <script>
      function initMap() {
          var map = new google.maps.Map(document.getElementById('map'), {
              center: {lat: 46.967616, lng: 2.382291},
              zoom: 5
          });
          var infoWindow = new google.maps.InfoWindow({map: map});
      }
  </script>
  <% else %>
      <div id="map" style="width:100%;height:400px;"></div>
      <script>
          <% @coord = loc(@result[0]["location"]) %>
          function initMap() {
              var map = new google.maps.Map(document.getElementById('map'), {
                  center: {lat: <%= @coord[0] %>, lng: <%= @coord[1] %>},
                  zoom: 9
              });
              var infoWindow = new google.maps.InfoWindow({map: map});
          }
      </script>
  <% end %>
  <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="interest">Photo 2</label>
          <img class="rounded mx-auto d-block" src="<%= @result[0]["image2"] %>" alt="" width="200" height="200">
          <input type="file" name="image2" class="form-control">
        </div>
      </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="interest">Photo 3</label>
        <img class="rounded mx-auto d-block" src="<%= @result[0]["image3"] %>" alt="" width="200" height="200">
        <input type="file" name="image3" class="form-control">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="interest">Photo 4</label>
        <img class="rounded mx-auto d-block" src="<%= @result[0]["image4"] %>" alt="" width="200" height="200">
        <input type="file" name="image4" class="form-control">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="interest">Photo 5</label>
        <img class="rounded mx-auto d-block" src="<%= @result[0]["image5"] %>" alt="" width="200" height="200">
        <input type="file" name="image5" class="form-control">
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Modifier</button>
</form>
<hr>
<p style="color: red">* : champs obligatoires.</p>
<p style="color: orange">* : champs très important pour pouvoir "like".</p>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCsYUr5ciKGMTP8EBJcMk-wYeKyATYoQK8&callback=initMap" async defer></script>
<div id="blk" class="alert alert-success alert-dismissible fade show pull-right" role="alert" style="height: 50px; bottom: 0">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <span id="notmsg"></span>
</div>
<div id="blknot" class="alert alert-warning alert-dismissible fade show pull-right" role="alert" style="height: 50px; bottom: 0">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <span id="notnot"></span>
</div>
<script type="text/javascript" charset="utf-8">
    var objDiv = document.getElementById("blk");
    var blkmsg = document.getElementById("notmsg");
    var objDiv2 = document.getElementById("blknot");
    var blkmsg2 = document.getElementById("notnot");
    var user_id = <%= session[:auth]["id"] %>;
    objDiv.style.display = 'none';
    objDiv2.style.display = 'none';
    window.onload = function(){
        (function(){
            var show = function(el)
            {
                return function(msg)
                {
                    tab = msg.split(',');
                    status = tab[0]
                    id = tab[2];
                    message = tab[1];
                    user_for = tab[3]
                    if (status == "msg")
                    {
                        if (message.trim().length !== 0)
                        {
                            if (user_id == user_for)
                            {
                                var nav = document.getElementById("tes");
                                if (nav.innerHTML === "")
                                    nav.innerHTML = '1';
                                else
                                {
                                    res = parseInt(nav.innerHTML) + 1;
                                    nav.innerHTML = '' + res;
                                }
                                objDiv.style.display = 'block';
                                blkmsg.innerHTML = 'Vous avez un nouveau message';
                                var t = document.getElementById("cnt" + id);
                                if (t.innerHTML === "")
                                    t.innerHTML = '1';
                                else
                                {
                                    res = parseInt(t.innerHTML) + 1;
                                    t.innerHTML = '' + res;
                                }
                            }
                        }
                    }
                    else if (status == "not")
                    {
                        if (user_id == user_for)
                        {
                            var nav2 = document.getElementById("tesnot");
                            if (nav2.innerHTML === "")
                                nav2.innerHTML = '1';
                            else
                            {
                                res = parseInt(nav2.innerHTML) + 1;
                                nav2.innerHTML = '' + res;
                            }
                            objDiv2.style.display = 'block';
                            blkmsg2.innerHTML = 'Vous avez une nouvelle notification';
                        }
                    }
                }
            }(document.getElementById('list'));
            var ws = new WebSocket('ws://' + window.location.host + window.location.pathname);
            ws.onmessage = function(m) { show(m.data); };
        })();
    }
</script>
<script type="text/javascript" charset="utf-8">
    var ws = new WebSocket('ws://' + window.location.host + window.location.pathname);
    function sendnot(id, id_for) {
        ws.send('not,' + ',' + id + ',' + id_for);
    }
</script>