<% if @result %>
    <div class="row" style="margin-top: 50px">
      <div class="col-md-9">
        <h2>
          <% if isOnline?(@result["id"]) %>
              <i class="fa fa-circle pull-left" aria-hidden="true" style="color: green; margin-top: 2px"></i>
          <% else %>
              <i class="fa fa-circle pull-left" aria-hidden="true" style="color: grey;"></i>
          <% end %>
          <%= @result["username"] %>
        </h2>
        <% if !isOnline?(@result["id"]) %>
            <p>Dernière connection: <%= @result["last_connection"].to_s[0, 16] %></p>
        <% end %>
        <hr>
        <p>Nom: <%= @result["firstname"] %></p>
<p>Prenom: <%= @result["lastname"] %></p>
<p>Age: <%= @result["age"] %></p>
<p>Sexe: <%= (@result["sexe"] && !@result["sexe"].empty?) ?  @result["sexe"] : "Pas défini" %></p>
<p>Location: <%= (@result["location"] && !@result["location"].empty?) ?  @result["location"] : "Pas défini" %></p>
<p>Recherche: <%= (@result["orientation"] && !@result["orientation"].empty?) ? @result["orientation"] : "Pas défini" %></p>
</div>
<div class="col-md-3">
  <img class="rounded mx-auto d-block" src="<%= @result["profile"] %>" alt="" style="width: 100%; height: 100%">
</div>
<div class="col-md-12">
  <p>Biographie: <%= (@result["bio"] && !@result["bio"].empty?) ? @result["bio"] : "Pas défini" %></p>
</div>
<div class="col-md-12">
    <p>Tag(s): <%= (@result["tags"] && !@result["tags"].empty?) ? @result["tags"] : "Pas défini" %></p>
</div>
      <div class="col-md-12">
        <% if isLiked?(@result["id"]) %>
            <form action="/likes/dislike/<%= @result["id"] %>" method="POST">
              <button type="submit" class="btn btn-danger" <% if session[:auth]["profile"] && !session[:auth]["profile"].empty? %> onclick="sendnot(<%= session[:auth]["id"] %>, <%= @result["id"] %>)" <% end %>>Dislike <i class="fa fa-thumbs-down" aria-hidden="true"></i></button>
            </form>
            <%
                if isMatched?(@result["id"])
                    @conv = findConv(@result["id"])
                    puts @conv['id'].inspect
            %>
                <a href="/messages/<%= @conv['id'] %>/check"><button type="button" class="btn btn-primary pull-right"><span id="cnt<%= @result["id"] %>" style="color: red;"><%= countMsg(@conv['id']) if countMsg(@conv['id']) > 0 %></span> Discuter <i class="fa fa-comments" aria-hidden="true"></i></button></a>
            <% end %>
        <%
            else
                if !session[:auth]["location"] || session[:auth]["profile"].empty?
        %>
                <form action="/likes/like/<%= @result["id"] %>" method="POST">
                  <button type="submit" class="btn btn-success" <% if session[:auth]["profile"] && !session[:auth]["profile"].empty? %> onclick="sendnot(<%= session[:auth]["id"] %>, <%= @result["id"] %>)" <% end %>>Like <i class="fa fa-thumbs-o-up" aria-hidden="true"></i></button>
                </form>
        <%
                end
            end
        %>
      </div>
      <div class="row" style="margin-top: 10px;">
        <div class="col-md-3"><img class="rounded mx-auto d-block" src="<%= @result["image2"] %>" alt="" style="width: 100%; height: 100%"></div>
        <div class="col-md-3"><img class="rounded mx-auto d-block" src="<%= @result["image3"] %>" alt="" style="width: 100%; height: 100%"></div>
        <div class="col-md-3"><img class="rounded mx-auto d-block" src="<%= @result["image4"] %>" alt="" style="width: 100%; height: 100%"></div>
        <div class="col-md-3"><img class="rounded mx-auto d-block" src="<%= @result["image5"] %>" alt="" style="width: 100%; height: 100%"></div>
      </div>
</div>

<% else %>
<h2>Aucun utilisateur avec cet id</h2>
<% end %>
<div id="blk" class="alert alert-success alert-dismissible fade show pull-right" role="alert" style="height: 50px; bottom: 0">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <span id="notmsg"></span>
</div>
<div id="blknot" class="alert alert-warning alert-dismissible fade show pull-right" role="alert" style="height: 50px; bottom: 0">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <span id="notnot"></span>
</div>
<script type="text/javascript" charset="utf-8">
    var objDiv = document.getElementById("blk");
    var blkmsg = document.getElementById("notmsg");
    var objDiv2 = document.getElementById("blknot");
    var blkmsg2 = document.getElementById("notnot");
    var user_id = <%= session[:auth]["id"] %>;
    objDiv.style.display = 'none';
    objDiv2.style.display = 'none';
    window.onload = function(){
        (function(){
            var show = function(el)
            {
                return function(msg)
                {
                    tab = msg.split(',');
                    status = tab[0]
                    id = tab[2];
                    message = tab[1];
                    user_for = tab[3]
                    if (status == "msg")
                    {
                        if (message.trim().length !== 0)
                        {
                            if (user_id == user_for)
                            {
                                var nav = document.getElementById("tes");
                                if (nav.innerHTML === "")
                                    nav.innerHTML = '1';
                                else
                                {
                                    res = parseInt(nav.innerHTML) + 1;
                                    nav.innerHTML = '' + res;
                                }
                                objDiv.style.display = 'block';
                                blkmsg.innerHTML = 'Vous avez un nouveau message';
                                var t = document.getElementById("cnt" + id);
                                if (t.innerHTML === "")
                                    t.innerHTML = '1';
                                else
                                {
                                    res = parseInt(t.innerHTML) + 1;
                                    t.innerHTML = '' + res;
                                }
                            }
                        }
                    }
                    else if (status == "not")
                    {
                        if (user_id == user_for)
                        {
                            var nav2 = document.getElementById("tesnot");
                            if (nav2.innerHTML === "")
                                nav2.innerHTML = '1';
                            else
                            {
                                res = parseInt(nav2.innerHTML) + 1;
                                nav2.innerHTML = '' + res;
                            }
                            objDiv2.style.display = 'block';
                            blkmsg2.innerHTML = 'Vous avez une nouvelle notification';
                        }
                    }
                    else if (status == "blk")
                    {
                        if (user_id == user_for)
                        {
                            setTimeout(function(){ location.reload(); }, 2000);
                        }
                    }
                }
            }(document.getElementById('list'));
            var ws = new WebSocket('ws://' + window.location.host + window.location.pathname);
            ws.onmessage = function(m) { show(m.data); };
        })();
    }
</script>
<script type="text/javascript" charset="utf-8">
    var ws = new WebSocket('ws://' + window.location.host + window.location.pathname);
    function sendnot(id, id_for) {
        ws.send('not,' + ',' + id + ',' + id_for);
    }
</script>