<% if @result %>
    <div class="row" style="margin-top: 50px">
      <div class="col-md-9">
        <h2><%= @result["username"] %></h2>
        <hr>
        <p>Nom: <%= @result["firstname"] %></p>
<p>Prenom: <%= @result["lastname"] %></p>
<p>Age: <%= @result["age"] %></p>
<p>Sexe: <%= @result["sexe"] %></p>
<p>Recherche: <%= @result["orientation"] %></p>
</div>
<div class="col-md-3">
  <img class="rounded mx-auto d-block" src="<%= @result["profile"] %>" alt="" style="width: 400px; height: 380px">
</div>
<div class="col-md-12">
  <p>Biographie: <%= @result["bio"] %></p>
</div>
      <% if isLiked?(@result["id"]) %>
          <form action="/likes/dislike/<%= @result["id"] %>" method="POST">
            <button type="submit" class="btn btn-danger" onclick="sendnot(<%= session[:auth]["id"] %>, <%= @result["id"] %>)">Dislike <i class="fa fa-thumbs-down" aria-hidden="true"></i></button>
          </form>
      <% else %>
          <form action="/likes/like/<%= @result["id"] %>" method="POST">
            <button type="submit" class="btn btn-success" onclick="sendnot(<%= session[:auth]["id"] %>, <%= @result["id"] %>)">Like <i class="fa fa-thumbs-o-up" aria-hidden="true"></i></button>
          </form>
      <% end %>

</div>

<% else %>
<h2>Aucun utilisateur avec cet id</h2>
<% end %>
<div id="blk" class="alert alert-success alert-dismissible fade show pull-right" role="alert" style="height: 50px; bottom: 0">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <span id="notmsg"></span>
</div>
<script type="text/javascript" charset="utf-8">
    var objDiv = document.getElementById("blk");
    var blkmsg = document.getElementById("notmsg");
    var objDiv2 = document.getElementById("blknot");
    var blkmsg2 = document.getElementById("notnot");
    var user_id = <%= session[:auth]["id"] %>;
    objDiv.style.display = 'none';
    objDiv2.style.display = 'none';
    window.onload = function(){
        (function(){
            var show = function(el)
            {
                console.log(blkmsg);
                return function(msg)
                {
                    tab = msg.split(',');
                    status = tab[0]
                    id = tab[2];
                    message = tab[1];
                    user_for = tab[3]
                    console.log(msg)
                    console.log(status)
                    if (status == "msg")
                    {
                        if (message.trim().length !== 0)
                        {
                            if (user_id == user_for)
                            {
                                var nav = document.getElementById("tes");
                                if (nav.innerHTML === "")
                                    nav.innerHTML = '1';
                                else
                                {
                                    res = parseInt(nav.innerHTML) + 1;
                                    nav.innerHTML = '' + res;
                                }
                                objDiv.style.display = 'block';
                                blkmsg.innerHTML = 'Vous avez un nouveau message';
                                var t = document.getElementById("cnt" + id);
                                if (t.innerHTML === "")
                                    t.innerHTML = '1';
                                else
                                {
                                    res = parseInt(t.innerHTML) + 1;
                                    t.innerHTML = '' + res;
                                }
                            }
                        }
                    }
                    else if (status == "not")
                    {
                        console.log('Je usis la')
                        if (user_id == user_for)
                        {
                            var nav2 = document.getElementById("tesnot");
                            if (nav2.innerHTML === "")
                                nav2.innerHTML = '1';
                            else
                            {
                                res = parseInt(nav2.innerHTML) + 1;
                                nav2.innerHTML = '' + res;
                            }
                            objDiv2.style.display = 'block';
                            blkmsg2.innerHTML = 'Vous avez un nouveau message';
                        }
                    }
                }
            }(document.getElementById('list'));
            var ws = new WebSocket('ws://' + window.location.host + window.location.pathname);
            console.log(ws);
            ws.onmessage = function(m) { show(m.data); };
        })();
    }
</script>
<script type="text/javascript" charset="utf-8">
    var ws = new WebSocket('ws://' + window.location.host + window.location.pathname);
    function sendnot(id, id_for) {
        ws.send('not,' + ',' + id + ',' + id_for);
    }
</script>